.card {
  width: 7em;
  margin: 0.5em;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0.5em;
}

/* Path: assets/css/styles.css */